extends layout

block content
  h1= title 
  p Comments: #{data.comment_karma}, #{data.comment_count} karma
  p Stories: #{data.story_karma}, #{data.comment_count} karma
  p % comment karma: #{data.comment_karma_percent}

  <a href="csv/" download>Download CSV</a>&nbsp;&nbsp;<a href="stats_csv/" download>Download Metadata CSV</a>&nbsp;&nbsp;<a href="json/" download>Download JSON</a>